html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  background: #ffffff;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=range] {
  -webkit-appearance: none; 
  margin: 5.8px 0; 
  background-color: transparent !important;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer; 
  border-radius: 3px;
  background-color: #dcdcdc;
  width: 428px;
  height: 6px;
}

/* input[type=range]::-webkit-slider-thumb {
  cursor: pointer; 
  -webkit-appearance: none; 
  border: 1px solid $green;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 0px 12px #fff, 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background-color: rgb(104, 183, 56);
  width: 8px;
  height: 8px;
  transition: all .3s ease;
} */

input[type=range]::-webkit-slider-thumb {
  cursor: pointer; 
  -webkit-appearance: none;
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 13px #fff, 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]:hover::-webkit-slider-thumb {
  cursor: pointer; 
  -webkit-appearance: none;
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 13px #fff, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]:active::-webkit-slider-thumb {
  cursor: pointer; 
  -webkit-appearance: none;
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 2px $green, inset 0px 0px 0px 13px #fff, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}


input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dcdcdc;
}

input[type=range]::-moz-range-track {
  cursor: pointer; 
  border-radius: 3px;
  background-color: #dcdcdc;
  width: 428px;
  height: 6px;
}

input[type=range]::-moz-range-thumb {
  cursor: pointer; 
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 13px #fff, 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]:hover::-moz-range-thumb {
  cursor: pointer; 
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 13px #fff, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]:active::-moz-range-thumb {
  cursor: pointer; 
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 2px $green, inset 0px 0px 0px 13px #fff, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]::-ms-track {
  cursor: pointer; 
  border-radius: 3px;
  background-color: #dcdcdc;
  width: 428px;
  height: 6px;
}

input[type=range]::-ms-fill-lower {
  background-color: #dcdcdc;
}

input[type=range]::-ms-fill-upper {
  background-color: #dcdcdc;
}

input[type=range]::-ms-thumb {
  cursor: pointer; 
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  width: 32px;
  height: 32px;
  margin-top: -14px;
}

input[type=range]:hover::-ms-thumb {
  cursor: pointer; 
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 13px #fff, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]:active::-ms-thumb {
  cursor: pointer;
  margin-top: -13px;
  border-radius: 50%;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 2px $green, inset 0px 0px 0px 13px #fff, 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: all .3s ease;
}

input[type=range]:focus::-ms-fill-lower {
  background-color: #dcdcdc;
}

input[type=range]:focus::-ms-fill-upper {
  background-color: #dcdcdc;
}
