.additional {
  margin: 0;
  padding: 0;
  border: 1px solid $greyish;
  border-bottom: none;
}

.additional__title {
  position: relative;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 70px;
  margin-bottom: 25px;
  font-size: 24px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 53px;
    height: 3px;
    background-color: $green;
  }
}

.additional__wrapper {
  @include container;
  margin-bottom: 30px;
}

.additional__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid $greyish;

  &:last-child {
    border-bottom: 1px solid $greyish;
    margin-bottom: 35px;
  }
}

.additional__item-title {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.additional__item-amount {
  font-family: "Arial", sans-serif;
  margin-bottom: 12px;
}

.additional__item-price {
  font-family: "Arial", sans-serif;
  margin-bottom: 12px;
}

.additional__order-btn {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  height: 40px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: $green;
  border: none;
  color: #fff;
  text-decoration: none;
}

.additional__img {
  position: relative;
  margin: 0;
  padding: 0;
  background: url("../img/gift-photo-mobile@1x.jpg");

  &::before {
    content: "";
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 60px;
    background: url("../img/icon-gift.svg");
  }

  p {
    padding-top: 166px;
    padding-bottom: 50px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    text-align: center;
    width: 165px;
    color: #fff;
  }
}