.additional {
  margin: 0;
  padding: 0;
  border: 1px solid $greyish;
  border-bottom: none;
}

.additional__title {
  position: relative;
  margin: 0;
  padding-top: 25px;
  padding-left: 7%;
  padding-right: 23%;
  margin-bottom: 25px;
  font-size: 24px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 18%;
    height: 3px;
    background-color: $green;
  }
}

.additional__wrapper {
  @include container;
  margin-bottom: 30px;
}

.additional__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid $greyish;

  &:last-child {
    border-bottom: 1px solid $greyish;
    margin-bottom: 35px;
  }
}

.additional__item-title {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.additional__item-amount {
  font-family: "Arial", sans-serif;
  margin-bottom: 12px;
  
  span {
    display: none;
  }
}

.additional__item-price {
  font-family: "Arial", sans-serif;
  margin-bottom: 12px;
}

.additional__order-btn {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  height: 40px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: $green;
  border: none;
  color: #fff;
  text-decoration: none;
}

.additional__img {
  position: relative;
  margin: 0;
  padding: 0;
  background: url("../img/gift-photo-mobile@1x.jpg");

  &::before {
    content: "";
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 60px;
    background: url("../img/icon-gift.svg");
  }

  p {
    padding-top: 166px;
    padding-bottom: 50px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
    text-align: center;
    width: 165px;
    color: #fff;
  }
}

@media #{$tablet-widths} {
  .additional__wrapper {
    margin-bottom: 75px;
  }

  .additional__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 4%;
      height: 3px;
      background-color: $green;
    }

    &::after {
      bottom: 12px;
      width: 42%;
    }
  }

  .additional__container {
    margin-bottom: 65px;
  }

  .additional__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 40px;
    border: 1px solid $greyish;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $greyish;
    }
  }

  .additional__item-title {
    width: 50%;
    display: inline;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .additional__item-amount {
    font-size: 16px;

    span {
      display: inline-block;
    }
  }

  .additional__item-price {
    font-size: 16px;
  }

  .additional__order-btn {
    font-size: 16px;
    height: 40px;
  }

  .additional__img {
    p {
      padding-top: 64px;
      padding-bottom: 64px;
      font-size: 16px;
      text-align: left;
      margin-left: 410px;
    }

    &::before {
      left: 90px;
      top: 65px;
      width: 55px;
      height: 60px;
    }
  }
}

@media #{$desktop-widths} {
  .additional {
    border: none;
  }

  .additional__title {
    width: 100%;
    padding-left: 7.6%;
    padding-right: 68%;

    &::before {
      width: 5%;
    }

    &::after {
      width: 66%;
    }

  }

  .additional__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .additional__container {
    width: 73.5%;
    margin-bottom: 0;
    margin-right: 6.5%;
  }

 .additional__item {
   padding: 15px 0;
   border-left: none;
   border-right: none; 
   align-items: center;

   &:last-child {
     margin-bottom: 0;
   }
  }

  .additional__item-title {
    width: 27%;
    margin: 0;
    margin-right: 4%;
  }

  .additional__item-amount {
    width: 27%;
    margin: 0;
    margin-right: 4%;
  }

  .additional__item-price {
    margin: 0;
    margin-right: 6%;
  }

  .additional__order-btn {
    margin: 0;
    width: 27%;
  }

  .additional__img {
    width: 20%;
    max-width: 245px;
    height: 285px;

    &::before {
      left: 50%;
      top: 66px;
    }

    p {
      box-sizing: content-box;
      padding-left: 42px;
      padding-right: 42px;
      padding-top: 180px;
      padding-bottom: 45px;
      margin: 0;
      text-align: center;
    }
  }
}