.address {
  margin: 0;
  padding: 0;
}

.address__wrapper {
  padding-top: 35px;
  background-color: #fff;
}

.address__title {
  @include visually-hidden;
}

.address__about {
  @include container;
  display: flex;
  justify-content: space-between;
}

.address__invitation {
  font-size: 16px;
  text-transform: uppercase;
}

.address__info {
  font-family: "Arial";
  font-size: 14px;
}

.address__map {
  background-image: url("../img/map-mobile.png");
  height: 364px;
}