.address {
  margin: 0;
  padding: 0;
}

.address__wrapper {
  padding-top: 35px;
  background-color: #fff;

  &--grey {
    padding-top: 0;
    background: $lightgrey;
  }
}

.address__title {
  @include visually-hidden;
}

.address__about {
  @include container;
  display: flex;
  justify-content: space-between;
}

.address__invitation {
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.address__info {
  width: 50%;
  font-family: "Arial";
  font-size: 14px;
}

.address__map {
  background-image: url("../img/map-mobile.png");
  height: 364px;
}

@media #{$tablet-widths} {
  .address__wrapper {
    padding-top: 40px;
  }

  .address__about {
    padding-bottom: 40px;
  }

  .address__invitation {
    width: 22%;
    font-size: 20px;
  }

  .address__info {
    width: 23%;
    font-size: 16px;
    text-align: right;

    span {
      display: block;

      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
}