.example {
  margin: 0;
  padding: 0; 
  background-color: $lightgrey;
}

.example__wrapper {
  @include container;
  padding-top: 30px;
}

.example__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 44px;
}

.example__about {
  font-family: "Arial";
  display: block;
}

.example__overview {
  display: flex;
  justify-content: space-between;
}

.example__overview-item {
  font-family: "OswaldRegular";
  padding: 10px 0;
  margin-bottom: 20px;
  width: 125px;
  height: 57px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  border: 1px solid $greyish;

  span {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background-color: $lightgrey;
    padding: 0 10px;
    font-family: "Arial";
    font-size: 12px;
    line-height: 14px;
    text-transform: lowercase;
    z-index: 10;
  }
}

.example__cost {
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

@media #{$tablet-widths} {
  .example {
    background-color: #fff;
  }

  .example__wrapper {
    padding-top: 50px;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 65px;  
  }

  .example__desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .example__about {
    width: 100%;
    font-size: 16px;
    margin-bottom: 55px;
    letter-spacing: 0.3px;
  }

  .example__overview {
    width: 50%;
  }

  .example__overview-item {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 30px;

    span {
      width: 124px;
      font-size: 14px;
      line-height: 18px;
      background-color: #fff;
    }

    &:last-child span {
      width: 147px;
    }
  }

  .example__cost {
    width: 40%;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    text-align: right;
    span {
      display: block;
    }
  }
}

@media #{$desktop-widths} {
  .example {
    display: flex;
    background-color: $lightgrey;
  }

  .example__wrapper {
    padding-top: 0;
    padding-left: 7.5%;
  }

  .example__title {
    padding-top: 40px;
    margin-bottom: 135px;
  }

  .example__desc {
    width: 450px;
    margin-bottom: 0;
  }

  .example__about {
    margin-bottom: 70px;
  }

  .example__overview {
    width: 82%;
    margin-bottom: 60px;
  }

  .example__overview-item {
    span {
      background-color: $lightgrey;
    }
  }

  .example__cost {
    width: 100%;
    text-align: left;

    span {
      display: inline-block;
      margin-left: 60px;
    }
  }
}