.form {
  margin: 0;
  padding: 0;

  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #000;
      text-transform: uppercase;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #000;
      text-transform: uppercase;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #000;
      text-transform: uppercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #000;
      text-transform: uppercase;
    }
  }

  textarea {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #000;
      text-transform: uppercase;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #000;
      text-transform: uppercase;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #000;
      text-transform: uppercase;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #000;
      text-transform: uppercase;
    }
  }
    
}

.form__promo {
  @include container;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 40px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--initials {
    padding-bottom: 20px;
    border-bottom: 1px solid $greyish;
  }

  &--programm {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $greyish;
    margin-bottom: 28px;
  }

  &--contacts {
    margin-bottom: 28px;
  }

  &--comment {
    margin-bottom: 28px;
  }

  &--additional {
    margin-bottom: 38px;
  }

}

.form__legend {
  position: relative;
  width: 100%;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;

  &--contacts {
    padding-right: 40%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 15px;
      width: 33%;
      height: 3px;
      background-color: $green;
    }
  }

  &--comment {
    padding-right: 180px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 15px;
      width: 53%;
      height: 3px;
      background-color: $green;
    }
  }

  &--additional {
    padding-right: 156px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 15px;
      width: 45%;
      height: 3px;
      background-color: $green;
    }
  }
}

.form__container {
  @include container;
}

.form__group {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;

  &--checkbox {
    margin-bottom: 22px;
  }

  &--email {
    position: relative;

    i {
      position: absolute;
      right: 15px;
      top: 40%;
      width: 17px;
      height: 13px;
      transform: translateY(-50%);
    }
  }

  &--phone {
    position: relative;

    i {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 15px;
  font-size: 16px;
}

.form__input {
  flex-grow: 1;
  height: 45px;
  line-height: 45px;
  padding-right: 35px;
  padding-left: 15px;
  border: 1px solid $input;

  &:hover {
    border: 1px solid $inputhover;
  }

  &:active {
    border: 2px solid $inputactive;
  }

  &:focus {
    border: 2px solid $inputactive;
    outline: none;
  }

  &:disabled {
    border: 2px solid $inputdisabled;
    background: #fff;
  }
}

.form__radio {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 22px;

  label {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
  }
}

.form__radio-input {
  display: none;
} 

.form__radio-input {
  &+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid $input;
    border-radius: 50%;
  }

  &:hover {
    &+label::before {
      border: 1px solid $inputhover;
    }
  }

  &:active {
    &+label::before {
      border: 1px solid $inputhover;
      opacity: 0.3;
    }

    &+label::after {
      opacity: 0.3;
    }
  }
}

.form__radio-input:checked {
  &+label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 9px;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    background-color: $green;
    border-radius: 50%;
  }
}

.form__textarea {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  min-height: 150px;
  border: 1px solid $input;

  &:hover {
    border: 1px solid $inputhover;
  }

  &:active {
   border: 2px solid $inputactive;
   outline: none;
  }

  &:focus {
    border: 2px solid $inputactive;
    outline: none;
  }

  &:disabled {
    border: 2px solid $inputdisabled;
  }
}

.form__checkbox {
  display: none;
}

.form__checkbox+.form__label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

.form__checkbox+.form__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $input;
}

.form__checkbox:hover+.form__label::before {
  border: 1px solid $inputhover;
}

.form__checkbox:active+.form__label::before {
  border: 1px solid $inputhover;
  opacity: 0.3;
}

.form__checkbox:active+.form__label::after {
  opacity: 0.3;
}

.form__checkbox:checked+.form__label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 7px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg");
}

.form__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 14px 0;
  width: 280px;
  height: 40px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: $green;
  border: none;
  color: #fff;
  text-decoration: none;

  &:hover {
    background-color: $darkgreen;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__reminder {
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-bottom: 27px;
}

@media #{$tablet-widths} {
  .form__promo {
    width: 330px;
    margin-left: 10%;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .form__fieldset {

    &--initials {
      padding-bottom: 0;
      margin-bottom: 70px;
      border-bottom: none;
    }

    &--programm {
      margin-left: 10%;
      margin-bottom: 70px;
      padding: 30px;
      border: 1px solid $greyish;
    }

    &--contacts {
      margin-bottom: 70px;
    }

    &--comment {
      margin-bottom: 70px;
    }

    &--additional {
      margin-bottom: 50px;
    }
  }

  .form__legend {
    margin-left: 0;
    font-size: 36px;
    padding-left: 10%;

    &--contacts {
      padding-right: 22%;
      margin-bottom: 70px;

      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 4%;
        height: 3px;
        background-color: $green;
      }
      
      &::after {
        width: 19%;
      }
    }

    &--comment {
      padding-right: 65%;
      margin-bottom: 70px;

      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 4%;
        height: 3px;
        background-color: $green;
      }

      &::after {
        width: 63%;
      }
    }

    &--additional {
      margin-bottom: 50px;
      padding-right: 65%;

      &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        width: 4%;
        height: 3px;
        background-color: $green;
      }

      &::after {
        width: 60%;
      }
    }
  }

  .form__container {
    width: 82%;
    margin-left: 10%;
    margin-right: 10%;

    &--programm {
      margin-left: 0;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__group {
    margin-bottom: 20px;

    &--checkbox {
      width: 50%;
    }
  }

  .form__input {
    height: 53px;
    line-height: 53px;
  }

  .form__radio {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    
    label {
      font-size: 20px;
      padding-left: 65px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }
  }

  .form__label {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .form__radio-input:checked + label::after {
    width: 18px;
    height: 18px;
    left: 11px;
  }

  .form__checkbox + .form__label{
    padding-left: 59px;
  }

  .form__checkbox + .form__label::before {
    width: 40px;
    height: 40px;
  }

  .form__checkbox:checked + .form__label::after {
    width: 21px;
    height: 16px;
    left: 9px;
    top: 11px;
  }

  .form__input {
    font-size: 20px;
  }

  .form__textarea {
    font-size: 20px;
    padding: 18px;
    min-height: 174px;
  }

  .form__btn {
    display: inline-block;
    font-size: 20px;
    height: 52px;
    margin-bottom: 70px;
    margin-left: 10%;
    margin-right: 60px;
  }

  .form__reminder {
    display: inline-block;
    margin-bottom: 70px;
    font-size: 16px;
  }
}

@media #{$desktop-widths} {
  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form__promo {
    margin-left: 7.5%;

    span {
      display: block;
    }
  }

  .form__fieldset {
    &--initials {
      width: 45%;
      margin-left: 5%;
      margin-right: 0;
      margin-bottom: 65px;

      .form__container {
        width: 88%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 6%;
        padding-right: 6%;
      }
    }

    &--programm {
      margin: 0;
      width: 45%;
      margin-bottom: 65px;

      .form__container {
        margin-left: 5%;
      }
    }

    &--contacts {
      width: 100%;
      
      .form__container {
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }

    &--comment {
      width: 100%;

      .form__container {
        width: 92.4%;
        margin-left: 7.6%;
        margin-right: 0;
        max-width: none;
      }
    }

    &--additional {
      width: 100%;
    }
  }


  .form__legend {
    &--contacts {
      padding-left: 7.6%;
      padding-right: 55%;

      &::before {
        width: 5%;
      }

      &::after {
        width: 55%;
      }
    }

    &--comment {
      padding-left: 7.6%;
      padding-right: 79%;

      &::before {
        width: 5%;
      }

      &::after {
        width: 77%;
      }
    }

    &--additional {
      padding-left: 7.6%;
      padding-right: 76%;

      &::before {
        width: 5%;
      }

      &::after {
        width: 74%;
      }
    }
  }

  .form__group {
    &--email {
      width: 50%;
      padding-right: 3%;
      padding-left: 3%;
      margin-bottom: 0;

      i {
        right: 9%;
      }
    }

    &--phone {
      width: 50%;
      padding-left: 3%;
      padding-right: 3%;

      i {
        right: 9%;
      }
    }

    &--checkbox {
      width: 25%;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  .form__input {

    &--email {
      width: 75%;
    }

    &--phone {
      width: 75%;
    }
  }

  .form__btn {
    width: 568px;
  }

  .form__reminder {
    padding-top: 15px;
  }
}