.programms {
  margin: 0;
  padding: 0;
  color: #000;
  @include container;
}

.programms__title {
  @include visually-hidden;
}

.programms__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programms__item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  padding: 0;
  padding: 22px;
  background-color: $lightgrey;

 &::after {
    content: "";
    position: absolute;
  }

  &--slim::after {
    top: 18px;
    left: 28px;
    width: 35px;
    height: 49px;
    background-image: url(../img/icon-cat-slim.svg);
    z-index: 5;
  }

  &--pro::after {
    top: 36px;
    left: 12px;
    width: 67px;
    height: 28px;
    background-image: url(../img/icon-cat-pro.svg);
    z-index: 5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $green;
  }
}

.programms__item-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 13px 0;
  padding-left: 70px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.programms__item-desc {
  margin: 0;
  font-family: "Arial";
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $greyish;
}

.programms__item-link {
  position: relative;
  font-size: 16px;
  padding-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 24px;
    height: 11px;
    transform: translateY(-50%);
    background-image: url(../img/icon-right-arrow-long.svg);
  }
}

@media #{$tablet-widths} {
  .programms__item {
    padding-left: 55px;
    padding-top: 80px;
    padding-bottom: 55px;
    padding-right: 300px;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
    }

    &--slim::after {
      top: 78px;
      left: auto;
      right: 85px;
      width: 140px;
      height: 194px;
      background-image: url(../img/icon-cat-slim.svg);
      z-index: 5;
    }

    &--pro::after {
      top: 132px;
      left: auto;
      right: 25px;
      width: 268px;
      height: 112px;
      background-image: url(../img/icon-cat-pro.svg);
      z-index: 5;
    }

    &::before {
      content: "";
      position: absolute;
      top: 92px;
      left: auto;
      right: 50px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $green;
    }

  }

  .programms__item-title {
    font-size: 36px;
    padding-left: 0;
  }

  .programms__item-desc {
    font-size: 16px;
    border-bottom: none;
  }

  .programms__item-link {
    font-size: 20px;
    font-weight: bold;
  }
}