.slider {
  margin: 0;
  padding: 0;
}

.slider__wrapper {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 33px;
  text-align: center;
}

.slider__slides {
  margin-bottom: 26px;
}

.slider__controls {
  display: flex;
  width: 198px;
  margin: 0 auto;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}

.slider__slide {
  display: none;

  &--show {
    display: block;
  }
}

.slider__control {
  text-transform: uppercase;
}

.slider__switch {
    width: 84px;
    height: 14px;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid $greyish;
    padding: 3px 5px;

    input {
      display: none;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      background: #fff;
      border-radius: 15px;
      cursor: pointer;

      i {
        display: block;
        height: 100%;
        width: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        border-radius: inherit;
        background: $green;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -8px; right: -8px; bottom: -8px; left: -8px;
        border-radius: inherit;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -18px; right: -18px; bottom: -18px; left: -18px;
        border-radius: inherit;
      }
    }
}

.slider__range {
  display: none;
}
 
.slider__switch input:checked ~ label i { /* Toggle */
    left: auto;
    right: -1%;
}

.slider__switch input:checked ~ .slider__slide-after {
  display: block;
}

@media #{$tablet-widths} {
  .slider {
    background-color: #fff;
    padding-top: 70px;
    margin: 0 auto;
  }

  .slider__wrapper {
    padding: 0;
    text-align: center;
    background-color: $lightgrey;
  }

  .slider__slides {
    width: 100%;
    max-width: 768px;
    height: auto;
    position: relative;
    bottom: 100px;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    user-select: none;
  }

  .slider__slide {

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: #fff;
      z-index: 1;
    }

    &--prev {
      position: absolute;
      overflow: hidden;
      bottom: 0px;
      left: 0px;
      width: 50%;
      height: 517px;
      z-index: 5;
      background-color: $lightgrey;

      img {
        position: absolute;
        top:0;
        left: 0;
        height: 499px;
        margin-top: 18px;
        z-index: 5;
        max-width: none;
      }
    }

    &--next {
      display: block;
      position: static;
      width: 100%;
      max-width: none;
      margin-left: 46px;
      height: 517px;
      
      img {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 517px;
        max-width: none;
        z-index: 2;
      }
    }
  }

  .slider__switch {
    display: none;
  }

  .slider__controls {
    width: 576px;
    position: relative;
    bottom: 50px;
  }

  .slider__range {
    display: block;
    width: 428px;
  }

  .slider__control {
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px dashed $greyish;
  }
}

@media #{$desktop-widths} {
  .slider {
  	position: absolute;
  	top: 0;
  	right: 0;
  	background-color: $lightgrey;
  }

  .slider__slides {
  	bottom: 70px;
  }

  .slider__slide {

    &::before {
      height: 149px;
      z-index: 2;
    }
  }
}