.slider {
  margin: 0;
  padding: 0;
}

.slider__wrapper {
  @include container;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.slider__controls {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.slider__slide {
  display: none;

  &--show {
    display: block;
  }
}

.slider__control {
  text-transform: uppercase;
}

.slider__switch {
    width: 84px;
    height: 14px;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    padding: 3px 5px;

    input {
      display: none;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      background: #fff;
      border-radius: 15px;
      cursor: pointer;

      i {
        display: block;
        height: 100%;
        width: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        border-radius: inherit;
        background: $green;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: -8px; right: -8px; bottom: -8px; left: -8px;
        border-radius: inherit;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -18px; right: -18px; bottom: -18px; left: -18px;
        border-radius: inherit;
      }
    }
}

.slider__range {
  display: none;
}
 
.slider__switch input:checked ~ label i { /* Toggle */
    left: auto;
    right: -1%;
}

.slider__switch input:checked ~ .slider__slide-after {
  display: block;
}

@media #{$tablet-widths} {
  .slider {
    background-color: $lightgrey;
    margin: 0 auto;
  }

  .slider__wrapper {
    text-align: center;
  }

  .slider__slides {
    width: 707px;
    height: auto;
    position: relative;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    user-select: none;
  }

  .slider__slide {
    img {
      width: 677px;
      max-width: none;
    }

    &--prev {
      position: absolute;
      overflow: hidden;
      bottom: 0px;
      left: 0px;
      width: 50%;
      height: 517px;
      background-color: $lightgrey;

      img {
        height: 499px;
        margin-top: 18px;
      }
    }

    &--next {
      display: block;
      position: static;
      width: 545px;
      max-width: none;
      margin-left: 106px;
      height: 517px;
    }
  }

  .slider__switch {
    display: none;
  }

  .slider__controls {
    width: 576px;
  }

  .slider__range {
    display: block;
    width: 428px;
  }

  .slider__control {
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px dashed $greyish;
  }

}